<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>


</head>
<style>
  .map{
    display: inline-block;
  }
  h1{
    text-align: center;
  }

  .aboutus{
    padding: 55px;
    font-family: 'Spectral SC', serif;
  }
</style>

<body>
<div class = "aboutus">
  <div class="container-fluid">

    <h1>About US</h1>
    <p>


      Welcome to our world !</br>

      </br>


      Our story began in 2001 in a small studio in the middle of nowhere. With only one desk and next to no free time, our brand was born. Our passion for unique design and collaboration brought our vision, and products, to life.

      </br>


      Our products bring together the finest materials and stunning design to create something very special. We believe in quality, care, and creating unique products that everyone can enjoy. Colorful, creative, and inspired by what we see everyday, each product represents what we love about the world we live in. We hope they’ll inspire you too.

    </p>
  </div>
  <div class="container-fluid">

    <div class="row">
      <div class="col col-md-4">
        <p> First Branch </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d27214.541402407314!2d34.466844!3d31.501695000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14fd844104b258a9%3A0xfddcb14b194be8e7!2sGaza+Strip!5e0!3m2!1sen!2sus!4v1511177469689"
                width="300" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="col col-md-4">
        <p> Second Branch </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4303463.902446817!2d-102.27124378736296!3d41.755307078736045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sus!4v1511178391929"
                width="300" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="col col-md-4">
        <p> Thrid Branch </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d527627.8674663925!2d30.71633134310455!3d29.683444143906506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14368976c35c36e9%3A0x2c45a00925c4c444!2sEgypt!5e0!3m2!1sen!2sus!4v1511178504660"
                width="300" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>

    </div>

  </div>
</div>
</body>
</html>