<style>
  .imges1{
    display: inline-block;
  }
  h2{
    text-align: center;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  .imges1{
  padding: 50px;
  }
</style>
  <div class = "container_fluid">
  <div class = "imges1">
    <h2>Our Products</h2>
    <div class="row">
      <div class="col col-md-4">
        <img src="http://gulfup.co/i/00673/a72v0fncx7r8.jpg" class="img-responsive" style="width: 100% ;border: 1px solid #4CAF50;">
      </div>
      <div class="col col-md-4">
        <img src="http://gulfup.co/i/00673/rs4cgnnkje8o.jpg" class="img-responsive" style="width: 100% ;   border: 1px solid #4CAF50;">
      </div>
      <div class="col col-md-4">
        <img src="http://gulfup.co/i/00673/ug8ka7ddfo9a.jpg" class="img-responsive" style="width:100%   ;  border: 1px solid #4CAF50;">
      </div>
    </div>
 </div>
  </div>