
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flew &mdash; Free HTML5 Bootstrap Website Template by FreeHTML5.co</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  body{
    padding: 150px;
  }
</style>
<body>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->