<div class="row">
<% @products.each do |product| %>
    <div class="col-sm-2 col-md-4">
      <h1><%= link_to product.name, product %></h1>
      <p><%= product.description %></p>
      <p><%= product.colour%></p>
      <strong>$ <%= product.price %></strong>
    </div><!-- /col -->
<% end %>
</div>