<div class="Container-fluid">
<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Products</h1>


  <div class="row prod-inner">

    <% @products.each do |product| %>
        <%= render partial: "product", locals: {product: product} %>
    <% end %>

  </div>



  <div class="btn-control-group">
    <%= link_to new_product_path, class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-plus"></i> New Product
    <% end %>
  </div>
</div>

</div>